<div fxLayout="column" fxFlex>

    <md-toolbar color="primary" class="hero-background">
        <span>Angular Material 2 Example</span>
    </md-toolbar>

    <md-sidenav-container fxFlex>

        <md-progress-bar *ngIf="loader$ | async" color="accent" mode="indeterminate"></md-progress-bar>

        <md-sidenav #sidenav mode="over" align="end" [opened]="sideNavOpen">

            <md-tab-group>
                <md-tab label="Heroes">
                    <md-nav-list>
                        <md-list-item *ngFor="let model of models$ | async">
                            <span>{{model.name}}</span>
                        </md-list-item>
                    </md-nav-list>
                </md-tab>
                <md-tab label="Top Rated">
                    <md-nav-list>
                        <md-list-item *ngFor="let model of trModels$ | async">
                            <span>{{model.name}}</span>
                        </md-list-item>
                    </md-nav-list>
                </md-tab>
            </md-tab-group>
        </md-sidenav>

        <div class="content" fxLayout="column" fxLayoutAlign="space-around center">

            <button (click)="onSideNavToggle()">Toggle SideNav</button>
            <router-outlet></router-outlet>
        </div>


    </md-sidenav-container>

</div>
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>