@import "./_main.scss";             // import main theming variables
@import "./_indigo-theme.scss";     // import theme file

@mixin custom-toolbar-theme($theme){
   
    $primary: map-get($theme,primary);
    $accent: map-get($theme,accent);

    .custom-toolbar {
        background: -webkit-linear-gradient(215deg, mat-color($accent), mat-color($primary)) !important;
        background: -moz-linear-gradient(215deg, mat-color($accent), mat-color($primary)) !important;
        background: -o-linear-gradient(215deg, mat-color($accent), mat-color($primary)) !important;
        background: linear-gradient(305deg, mat-color($accent), mat-color($primary)) !important;
    }
}

@include custom-toolbar-theme($theme);
