@import "./../assets/css/material-icons.css";
@import "~@angular/material/_theming.scss";
@include mat-core();

// Variables
$table-border-color: #d0d0d0 !default;
$table-striped-color: #f2f2f2 !default;


.overlay{
  width: 100%;
  height: 100%;
  z-index: -9999;
  opacity:0.2;
}
