<form [formGroup]="heroForm">

  <md-input-container>
    <input mdInput placeholder="Name" id="name" name="name" formControlName="name" required>
    <md-error>You must enter a name for the hero.</md-error>
  </md-input-container>

  <md-input-container>
    <textarea mdInput placeholder="Description" id="description" name="description" rows="6" formControlName="description"></textarea>
    <md-error>You must enter a description for the hero.</md-error>
  </md-input-container>

  <md-checkbox id="topRated" name="topRated">Top Rated</md-checkbox>


  <md-select placeholder="Select Favorite Hero" id="selectHero" name="selectHero">
    <md-option *ngFor="let hero of heroes$ | async" [value]="hero.name">
      {{hero.name}}
    </md-option>
  </md-select>

  <md-radio-group class="example-radio-group" id="favoriteHero" name="favoriteHero">
    <md-radio-button class="example-radio-button" *ngFor="let hero of favHeroes$ | async" [value]="hero.name">
      {{hero.name}}
    </md-radio-button>
  </md-radio-group>

</form>
<p> Selected value: {{selectedHero}} </p>
<div class="example-selected-value">Your favorite Hero is: {{favoriteHero}}</div>

<p>Form Value {{heroForm.value | json}} </p>
<p>Form Status {{heroForm.status | json}} </p>

<div *ngIf="modelChanges$ | async as m">
  <p>Name: {{m?.name}}</p>
  <p>Description: {{m?.description}}</p>
  <p>Top Rated: {{m?.topRated}}</p>
</div>