<div class="">

  <md-card class="overlay">
    <md-card-content>
      <div *ngIf="modelChanges$ | async as m">
        <p>Name: {{m?.name}}</p>
        <p>Description: {{m?.description}}</p>
        <p>Top Rated: {{m?.topRated}}</p>
      </div>
    </md-card-content>
    <md-card-actions>

    </md-card-actions>
  </md-card>

  <md-card>

    <md-card-header>
      <h2> Add Hero</h2>
    </md-card-header>

    <md-card-content>

      <form #heroForm="ngForm">

        <md-input-container class="example-full-width">
          <input id="name" name="name" [(ngModel)]="model.name" #name="ngModel" mdInput placeholder="Name" required>
          <md-error>You must enter a name for the hero.</md-error>
        </md-input-container>

        <md-input-container class="example-full-width">
          <textarea id="description" name="description" rows="6" [(ngModel)]="model.description" #description="ngModel" mdInput placeholder="Description"
            required></textarea>
          <md-error>You must enter a description for the hero.</md-error>
        </md-input-container>

        <md-checkbox id="topRated" name="topRated" #topRated="ngModel" [(ngModel)]="model.topRated">Top Rated</md-checkbox>


        <button (click)="sidenav.toggle()">Open SideNav</button>

      </form>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>


      <datepicker></datepicker>

      <div class="form-spacing">
        <p> Selected value: {{selectedHero}} </p>
        <md-select placeholder="Select Favorite Hero" [(ngModel)]="selectedHero" id="selectHero" name="selectHero">
          <md-option *ngFor="let hero of heroes$ | async" [value]="hero.name">
            {{hero.name}}
          </md-option>
        </md-select>
      </div>

      <div class="form-spacing">
        <md-radio-group class="example-radio-group" [(ngModel)]="favoriteHero" id="favoriteHero" name="favoriteHero">
          <md-radio-button class="example-radio-button" *ngFor="let hero of favHeroes$ | async" [value]="hero.name">
            {{hero.name}}
          </md-radio-button>
        </md-radio-group>
        <div class="example-selected-value">Your favorite Hero is: {{favoriteHero}}</div>
      </div>
    </md-card-content>
  </md-card>
</div>