.example-full-width{
    width:100%;
    margin-top:20px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

md-card {
  margin:10px;
}
md-checkbox {
    color: red;
}

md-select {
  margin-top:5px !important;
}

.container {
  display: flex; 
  flex-direction: row;
} 
